@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-bg text-text antialiased font-sans;
  }
}

.spinner {
  @apply w-10 h-10 border-4 border-gray-200 border-t-primary rounded-full mb-4 animate-spin;
}